[submodule "generated/terraform"]
	path = generated/terraform
	url = git@github.com:VSChina/terraform-provider-azurerm.git
[submodule "generated/ansible"]
	path = generated/ansible
	url = git@github.com:VSChina/ansible.git
[submodule "tools/mm"]
	path = tools/mm
	url = git@github.com:VSChina/magic-modules.git
