[submodule "generated/terraform"]
	path = generated/terraform
	url = https://github.com/VSChina/terraform-provider-azurerm.git
[submodule "generated/ansible"]
	path = generated/ansible
	url = https://github.com/VSChina/ansible.git
[submodule "tools/mm"]
	path = tools/mm
	url = https://github.com/VSChina/magic-modules.git
