# Ruby
# Package your Ruby project.
# Add steps that install rails, analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/ruby

trigger:
- master

steps:
- task: UseRubyVersion@0
  inputs:
    versionSpec: '>= 2.5'

- script: |
    brew install hub
  displayName: 'install tools'

- script: git submodule update --init
  displayName: 'init submodules'

- script: |
    git config --global user.email "audevbot@microsoft.com"
    git config --global user.name "audevbot"
    git config --global credential.helper store
    git config --global push.default current
    echo "https://$(GITHUB_USER):$(GITHUB_TOKEN)@github.com" > ~/.git-credentials
  displayName: 'git config'

- script: |
    cd tools/magic-modules
    gem install bundler
    bundle install --retry=3 --jobs=4
    bundle exec compiler -p ../../batchaccount -e terraform -o ../../generated/terraform-provider-azurerm/
    # bundle exec compiler -p ../../batchaccount -e ansible -o ../../generated/ansible
  displayName: 'code generation'

- script: |
    cd generated/terraform-provider-azurerm
    git checkout -b autogen-pr-$(Build.BuildNumber)
    git add -A
    git commit -m "auto code generation for Terraform."
    git push
    hub pull-request -m "auto code generation for Terraform"
  env:
    GITHUB_USER: $(GITHUB_USER)
    GITHUB_TOKEN: $(GITHUB_TOKEN)
  displayName: 'prepare pr for terraform'


  # - script: |
  #   cd generated/ansible
  #   git checkout autogen || git checkout -b autogen
  #   git add -A
  #   git commit -m "autogen"
  #   git push
  # displayName: 'push generated code for ansible'