# Ruby
# Package your Ruby project.
# Add steps that install rails, analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/ruby

trigger:
- master

steps:
- task: UseRubyVersion@0
  inputs:
    versionSpec: '>= 2.5'

- script: |
    brew install hub
    hub version
    go get golang.org/x/tools/cmd/goimports
    pip install black
  displayName: 'install tools'

- script: git submodule update --init
  displayName: 'init submodules'

- script: |
    git config --global user.email "audevbot@microsoft.com"
    git config --global user.name "audevbot"
    git config --global credential.helper store
    git config --global push.default current
    echo "https://$(GITHUB_USER):$(GITHUB_TOKEN)@github.com" > ~/.git-credentials
  displayName: 'git config'

- script: |
    cd tools/magic-modules
    gem install bundler
    bundle install --retry=3 --jobs=4
    jq '.[]' ../../resources.json | xargs -I % sh -c 'bundle exec compiler -p ../../% -e terraform -o ../../generated/terraform-provider-azurerm/'
    jq '.[]' ../../resources.json | xargs -I % sh -c 'bundle exec compiler -p ../../% -e ansible -o ../../generated/ansible/'
  displayName: 'code generation'

- script: |
    cd generated/terraform-provider-azurerm
    goimports -w azurerm/*.go
    make fmt
    git checkout -b autogen-pr-$(Build.BuildNumber)
    git add -A
    git commit -m "auto code generation for Terraform."
    git push
    hub pull-request -m "auto code generation for Terraform"
  env:
    GITHUB_USER: $(GITHUB_USER)
    GITHUB_TOKEN: $(GITHUB_TOKEN)
  displayName: 'prepare pr for terraform'


- script: |
    cd generated/ansible
    # run `black` against the directory of ansible
    git checkout -b autogen-pr-$(Build.BuildNumber)
    git add -A
    git commit -m "auto code generation for Ansible."
    git push
    hub pull-request -m "auto code generation for Ansible"
  env:
    GITHUB_USER: $(GITHUB_USER)
    GITHUB_TOKEN: $(GITHUB_TOKEN)
  displayName: 'prepare pr for ansible'