--- !ruby/object:Provider::Ansible::Example
task: !ruby/object:Provider::Ansible::Task
  name: azure_rm_apimanagementapioperation
  description: ApiManagementUpdateApiOperation
  code:
    resource_group: myResourceGroup
    service_name: myService
    api_id: myApi
    operation_id: myOperation
    template_parameters: []
    request:
      query_parameters:
        - name: param1
          description: >-
            A sample parameter that is required and has a default value of
            "sample".
          type: string
          default_value: sample
          required: true
          values:
            - sample
    responses:
      - status_code: '200'
        description: Returned in all cases.
        representations: []
        headers: []
      - status_code: '500'
        description: Server Error.
        representations: []
        headers: []
    display_name: Retrieve resource
    method: GET
    url_template: /resource
  